docs/n8n/permission-approval-workflow.json
{
  "name": "AuthHub Permission Approval Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "permission-validation-failed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - CI/CD Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "permission-validation-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-missing-permissions",
              "leftValue": "={{ $json.body.missingCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-missing",
      "name": "IF - Has Missing Permissions",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "channel": {
          "__rl": true,
          "value": "={{ $env.SLACK_CHANNEL_ID }}",
          "mode": "id"
        },
        "messageType": "block",
        "blocksUi": {
          "blocksValues": [
            {
              "type": "header",
              "text": {
                "type": "plain_text",
                "text": ":warning: AuthHub 권한 검증 실패",
                "emoji": true
              }
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "*서비스*: `{{ $json.body.serviceName }}`\n*브랜치*: `{{ $json.body.branch }}`\n*커밋*: `{{ $json.body.commitSha }}`"
              }
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "*검증 결과*:\n• 총 권한: {{ $json.body.totalCount }}개\n• 등록됨: {{ $json.body.existingCount }}개\n• :x: 누락: {{ $json.body.missingCount }}개"
              }
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "*누락된 권한 목록*:\n{{ $json.body.missing.map(p => '• `' + p.key + '`').join('\\n') }}"
              }
            },
            {
              "type": "divider"
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": ":question: 누락된 권한을 AuthHub에 등록하시겠습니까?"
              }
            },
            {
              "type": "actions",
              "elements": [
                {
                  "type": "button",
                  "text": {
                    "type": "plain_text",
                    "text": ":white_check_mark: 승인 (등록)",
                    "emoji": true
                  },
                  "style": "primary",
                  "value": "approve_{{ $json.body.serviceName }}_{{ $json.body.runId }}",
                  "action_id": "approve_permission"
                },
                {
                  "type": "button",
                  "text": {
                    "type": "plain_text",
                    "text": ":x: 거부",
                    "emoji": true
                  },
                  "style": "danger",
                  "value": "reject_{{ $json.body.serviceName }}_{{ $json.body.runId }}",
                  "action_id": "reject_permission"
                }
              ]
            }
          ]
        },
        "otherOptions": {}
      },
      "id": "slack-approval-request",
      "name": "Slack - Approval Request",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [690, 200],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'received', message: 'Approval request sent to Slack' }) }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 200]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-interaction",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-slack-interaction",
      "name": "Webhook - Slack Interaction",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 600],
      "webhookId": "slack-interaction-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Slack interaction payload 파싱\nconst payload = JSON.parse($input.first().json.body.payload);\n\nconst action = payload.actions[0];\nconst actionId = action.action_id;\nconst value = action.value;\nconst user = payload.user.name;\nconst responseUrl = payload.response_url;\n\n// value format: approve_serviceName_runId or reject_serviceName_runId\nconst parts = value.split('_');\nconst decision = parts[0]; // approve or reject\nconst serviceName = parts[1];\nconst runId = parts.slice(2).join('_');\n\nreturn {\n  decision,\n  serviceName,\n  runId,\n  user,\n  actionId,\n  responseUrl,\n  originalMessage: payload.message,\n  channelId: payload.channel.id,\n  messageTs: payload.message.ts\n};"
      },
      "id": "parse-slack-payload",
      "name": "Parse Slack Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-approved",
              "leftValue": "={{ $json.decision }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-approved",
      "name": "IF - Approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 600]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.AUTHHUB_API_URL }}/api/v1/auth/internal/permissions/validate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Token",
              "value": "={{ $env.SERVICE_TOKEN_SECRET }}"
            },
            {
              "name": "X-Service-Name",
              "value": "authhub"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "serviceName",
              "value": "={{ $json.serviceName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-missing-permissions",
      "name": "Get Missing Permissions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 500]
    },
    {
      "parameters": {
        "jsCode": "// 누락된 권한 목록을 개별 항목으로 분리\nconst input = $input.first().json;\nconst missingPermissions = input.data?.missing || [];\nconst serviceName = input.serviceName || $('Parse Slack Payload').first().json.serviceName;\nconst runId = $('Parse Slack Payload').first().json.runId;\nconst user = $('Parse Slack Payload').first().json.user;\n\nreturn missingPermissions.map(permission => ({\n  permissionKey: permission,\n  serviceName: serviceName,\n  runId: runId,\n  approvedBy: user,\n  locations: [] // CI/CD에서 제공한 위치 정보가 있으면 여기에 추가\n}));"
      },
      "id": "split-permissions",
      "name": "Split Permissions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AUTHHUB_API_URL }}/api/v1/auth/internal/permissions/{{ $json.permissionKey }}/usages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Token",
              "value": "={{ $env.SERVICE_TOKEN_SECRET }}"
            },
            {
              "name": "X-Service-Name",
              "value": "authhub"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"serviceName\": \"{{ $json.serviceName }}\",\n  \"locations\": {{ JSON.stringify($json.locations) }}\n}",
        "options": {}
      },
      "id": "register-permission-usage",
      "name": "Register Permission Usage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $env.GITHUB_OWNER }}/{{ $env.GITHUB_REPO }}/actions/runs/{{ $('Parse Slack Payload').first().json.runId }}/rerun",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "id": "github-rerun-workflow",
      "name": "GitHub - Rerun Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Slack Payload').first().json.responseUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replace_original\": true,\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":white_check_mark: 권한 등록 승인됨\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*승인자*: {{ $('Parse Slack Payload').first().json.user }}\\n*서비스*: `{{ $('Parse Slack Payload').first().json.serviceName }}`\\n*처리 시각*: {{ new Date().toISOString() }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \":rocket: GitHub Actions 워크플로우가 재실행됩니다.\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "update-slack-approved",
      "name": "Update Slack - Approved",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1790, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.responseUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replace_original\": true,\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":x: 권한 등록 거부됨\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*거부자*: {{ $json.user }}\\n*서비스*: `{{ $json.serviceName }}`\\n*처리 시각*: {{ new Date().toISOString() }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \":warning: 권한이 등록되지 않았습니다. 개발자에게 문의하세요.\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "update-slack-rejected",
      "name": "Update Slack - Rejected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 700]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "id": "respond-slack-interaction",
      "name": "Respond to Slack Interaction",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'no_action', message: 'No missing permissions' }) }}",
        "options": {}
      },
      "id": "respond-no-missing",
      "name": "Respond - No Missing",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 400]
    }
  ],
  "connections": {
    "Webhook - CI/CD Trigger": {
      "main": [
        [
          {
            "node": "IF - Has Missing Permissions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Has Missing Permissions": {
      "main": [
        [
          {
            "node": "Slack - Approval Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - No Missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Approval Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Slack Interaction": {
      "main": [
        [
          {
            "node": "Parse Slack Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Slack Payload": {
      "main": [
        [
          {
            "node": "IF - Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Approved": {
      "main": [
        [
          {
            "node": "Get Missing Permissions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Slack - Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Missing Permissions": {
      "main": [
        [
          {
            "node": "Split Permissions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Permissions": {
      "main": [
        [
          {
            "node": "Register Permission Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Permission Usage": {
      "main": [
        [
          {
            "node": "GitHub - Rerun Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - Rerun Workflow": {
      "main": [
        [
          {
            "node": "Update Slack - Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Slack - Rejected": {
      "main": [
        [
          {
            "node": "Respond to Slack Interaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "AuthHub",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "CI/CD",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
